.menu-item a{
    text-decoration: none;
    color: red;

}
.menu-item a:active{
    color: red;

}
.menu-item a:hover{
    color: red;
}

.menu-item{
    padding-left: 0;
    /*display: inline-block;*/
    position: absolute;
    width: 0;
    overflow: hidden;
}
.main-menu{
    position: fixed;
    width: 60px;
    height: 30px;
    margin-left: 50%;
    left: -30px;
    bottom: 0;
    list-style: none;
    /*background-image: url(../img/menu.png);*/
    cursor: pointer;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-button{
    position: absolute;
    width:60px;
    height: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid black;
    background-color: indianred;
    cursor: pointer;
}
.stripe{
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: gold;
    left: 15px;
    border-radius: 2px;
}
.first{
    top: 9px;
}
.second{
    top: 15px;
}
.third{
    top: 21px;
}