.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 16pt;
    /*color: red;*/
    text-align: center;
    vertical-align: middle;

}
.menu-item a:active{
    color: red;

}
.menu-item a:hover{
    color: red;
}

.menu-item{
    /*display: inline-block;*/
    background-color: bisque;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    width: 0;
    height: 30px;
    overflow: hidden;
    bottom: 0;
    left: 50%;
}
.main-menu{
    position: fixed;
    width: 80px;
    height: 40px;
    margin-left: 50%;
    left: -40px;
    bottom: 0;
    list-style: none;
    /*background-image: url(../img/menu.png);*/
    cursor: pointer;
}

#menu-items{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-button{
    position: absolute;
    width:80px;
    height: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 0 20px rgba(233, 100, 0, 0.9);
    border: 1px solid black;
    background-color: indianred;
    cursor: pointer;
    z-index: 1100;
}
.stripe{
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: gold;
    left: 20px;
    border-radius: 2px;
}
.first{
    top: 10px;
}
.second{
    top: 20px;
}
.third{
    top: 30px;
}